<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://hd.unsplash.com/photo-1468072114808-903e572b8ead');">
  <div class="banner-content">
    <div class="container">
      <div class="row">

        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <h2><%= @cocktail.name %></h2>
          <div class="card-show" style="background-image: url('<%= @cocktail.image_url %>');"></div>
            <h2>Doses</h2>
            <% @cocktail.doses.each do |d| %>
            <h3><%= d.description %> of <%= Ingredient.find(d.ingredient_id).name %></h3>
            <% end %><br><br>
        </div>
        <div>
          <%= link_to "New Dose", "/cocktails/#{@cocktail.id}/doses/new", :class => "btn btn-success" %>
          <%= link_to "Delete this cocktail", "/cocktails/#{@cocktail.id}", method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-danger" %>
          <%= link_to "Back to Menu", "/cocktails", :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>






